*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0deg, 0%, 13%);
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
    color: ghostwhite;
    text-align: center;
}

div.mainContainer {
    min-height: 100vh;
    min-width: 320px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center center;
}

header {
    padding: 1em;
    grid-row: 1 / 2;
}

header h1,
footer a {
    text-decoration: underline hsl(130deg, 26%, 61%) solid .12em;
    text-underline-offset: .3em;
}

div.main {
    padding: 0 1em;
    grid-row: 2 / 3;
}

:not(footer) > p {
    padding-bottom: 1em;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color .8s ease .1s;
}

a:hover {
    color: hsl(130deg, 26%, 61%);
    cursor: pointer;
}

div.main div:first-child {
    padding-bottom: 1em;
}

div.main div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.triple {
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

img {
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
    object-position: center;
}

figcaption {
    font-size: .9rem;
    line-height: 1.5;
}

footer {
    padding-bottom: .5em;
    grid-row: 3 / 4;
}